@use '../abstracts' as *;
@use '../theme/borders' as theme;

$card-bg: $clr-white;
$card-border-color: transparent;
$card-border-radius: theme.$border-radius;

// card body
$card-spacer-y: em(32);
$card-spacer-x: em(32);
