@use '../abstracts' as *;
@use '../theme/borders' as theme;

$card-bg: $clr-white;
$card-border-color: theme.$border-color;
$card-border-radius: theme.$border-radius;
$card-title-spacer-y: em(15);

// card body
$card-spacer-y: em(21);
$card-spacer-x: em(16);

// card header
$card-cap-bg: $card-bg;
$card-cap-padding-x: $card-spacer-x;
$card-cap-padding-y: $card-spacer-y;
