@use '../abstracts/colors' as *;

$body-color: $clr-neutral-2;

// Theme Colors
$primary: $clr-primary;
$secondary: $clr-secondary;
$success: $clr-success;
$danger: $clr-danger;
$light: $clr-neutral-6; // outline-light
$info: $clr-neutral-7;
$white: $clr-white;
$muted: $clr-neutral-4;
$text-muted: $clr-neutral-4;
$gray-200: $clr-neutral-5;
$gray-400: $clr-neutral-6; // input border color, pills
$gray-300: $clr-neutral-7;

$body-bg: $gray-300;
