@use '../abstracts' as *;
@use 'colors' as *;
@use 'buttons' as *;

$link-color: #3e8bf7;
$link-hover-color: #3e8bf7;
$link-decoration: none;

$nav-link-color: $text-muted;
$nav-link-font-weight: $btn-font-weight;
$nav-link-hover-color: $body-color;
