@use '../abstracts' as *;

$modal-backdrop-bg: #262626;
$modal-backdrop-opacity: 0.9;
$modal-inner-padding: rem(24);
$modal-content-border-radius: $br-md;
$modal-header-padding-y: em(15);
$modal-header-padding-x: $modal-inner-padding;
