@use '../../../scss/abstracts' as *;
@use '../../../scss/layout/container' as *;
@use '../../../scss/theme/colors' as *;

.map {
	display: flex;
	flex: 1;
	background-color: $gray-300;
	padding: em(24);

	@include breakpoint-max(md) {
		@include full-width();
		max-height: 250px;
	}
	img {
		max-height: 201px;

		@include breakpoint-min(md) {
			max-height: 446px;
		}
	}
}
