@use '../../../scss/abstracts' as *;
@use '../../../scss/layout/container' as *;
@use '../../../scss/theme/colors' as *;

.map {
	background-color: $gray-300;
	padding: em(24) 0px;
	flex: 1;

	@include breakpoint-max(md) {
		@include full-width();
		left: initial;
		right: initial;
	}

	img {
		@include breakpoint-max(md) {
			max-height: 201px;
		}
	}
}
