@use '../../../../../scss/abstracts' as *;
@use '../../../../../scss/layout' as *;

.filter-panel {
	position: absolute;
	left: 0;
	right: 0;
	bottom: 0;
	top: 0;
	z-index: 999;
	background: $clr-white;
	transition: all 600ms ease-in;

	legend {
		border-top: border();
	}

	header {
		padding-bottom: em(6);

		.heading--flex {
			margin-bottom: rem(16);
		}
	}

	legend {
		padding-top: em(18);

		.legend-heading {
			margin-bottom: rem(10);

			&.accessibility {
				@extend %icon-text-box;
				gap: $gap-sm;
				&::before {
					content: url("data:image/svg+xml,%3Csvg width='16' height='20' viewBox='0 0 16 20' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M5.54203 3.64795C6.50403 3.64795 7.27803 2.86595 7.27803 1.92395C7.27803 0.967951 6.50403 0.199951 5.54203 0.199951C4.58403 0.199951 3.80603 0.967951 3.80603 1.92395C3.80603 2.86595 4.58403 3.64795 5.54203 3.64795ZM15.73 15.442L12.77 10.368C12.586 10.062 12.264 9.88995 11.93 9.87995H7.58603L7.54203 8.35395H10.696C11.126 8.32795 11.48 8.00395 11.48 7.56595C11.48 7.13395 11.136 6.79795 10.696 6.78395H7.45403L7.34203 5.52795C7.27803 4.62395 6.49403 3.91195 5.57403 3.96195C4.64603 4.01395 3.94603 4.80595 3.99003 5.72195L4.29603 10.954C4.37203 11.872 5.14403 12.522 6.06003 12.522H11.69L13.99 16.476C14.266 16.924 14.904 17.108 15.384 16.822C15.858 16.534 16 15.942 15.73 15.442ZM6.65803 18.444C3.81003 18.444 1.50003 16.156 1.50003 13.324C1.50003 11.774 2.20803 10.39 3.31003 9.44795L3.21403 7.84795C1.37003 8.99195 0.134033 11.002 0.134033 13.324C0.134033 16.9 3.05203 19.802 6.65803 19.802C9.31203 19.802 11.58 18.216 12.6 15.96L11.684 14.38C11.192 16.694 9.13603 18.444 6.65803 18.444Z' fill='%23777E91'/%3E%3C/svg%3E%0A");
				}
			}
		}

		.accessibility-body {
			min-height: 65px;
		}
	}
}
