@use '../../../../scss/abstracts' as *;
@use '../../../../scss/layout' as *;
@use '../../../../scss/theme/colors' as *;
@use '../../../../scss/theme/input' as *;

#ticket-modal {
	#numpad {
		margin: rem(35) 0px;
		display: flex;
		flex-direction: column;
		row-gap: $text-spacer-sm;

		.col {
			text-align: center;
			font-size: $body-1;
		}
	}
}
