@use '../../../../scss/abstracts' as *;
@use '../../../../scss/layout' as *;
@use '../../../../scss/theme/colors' as *;

#ticket-modal {
	.fixed-heading {
		border-bottom: border();
		margin-left: $text-spacer-sm;
		margin-right: $text-spacer-sm;
		padding-bottom: $text-spacer-sm;
	}
	.list {
		.heading {
			font-weight: $fw-medium;
			margin-bottom: rem(8);
		}
		& + .list {
			margin-top: rem(20);
		}
	}

	#price {
		font-size: $body-1;
		font-weight: $fw-normal;
	}

	.selected-label {
		font-size: $small;
		font-weight: $fw-medium;
		text-transform: capitalize;
		margin: 0;
		white-space: nowrap;
	}
}
