@use './../../scss/abstracts' as *;
@use './../../scss/layout' as *;

.myDropdown {
	position: absolute;
	top: rem(85);
	left: 75%;
	border-radius: 0px 0px 12px 12px;
	box-shadow: $box-shadow;
	padding: em(26) em(16) em(16);
	background: $clr-white;
	min-width: 256px;
	border: border();
	border-top: none;
}
