/* Box sizing rules */
*,
*::before,
*::after {
	box-sizing: border-box;
}

/* Set core root defaults */
html,
body {
	min-height: 100%; // for sticky navbar to work when scrolling
}

html:focus-within {
	scroll-behavior: smooth;
}

p {
	margin: 0;
}

a {
	font: inherit;
	text-decoration: none;
}

/* Inherit fonts for inputs and buttons */
input,
button,
textarea,
select {
	font: inherit;
}

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
select:-webkit-autofill,
select:-webkit-autofill:hover,
select:-webkit-autofill:focus {
	color: white;
	-webkit-text-fill-color: white;
	transition: background-color 5000s ease-in-out 0s;
}

legend {
	font-size: 1rem;
}

ul,
ol,
dl {
	list-style: none;
	margin-bottom: 0;
	padding: 0;
}

figure {
	margin: 0;
}

img,
svg {
	max-width: 100%;
	height: auto;
	display: block;
	object-fit: cover;
}
