@use './../../scss/abstracts' as *;
@use './../../scss/layout' as *;
@use './../../scss/theme/custom' as *;

#login-signup-container {
	@include breakpoint-max(md) {
		gap: $text-spacer;
	}

	.form-container {
		@include breakpoint-min(md) {
			max-width: 376px;
		}
	}

	.heading,
	.step-desc {
		margin-bottom: $text-spacer;
	}

	.title {
		@extend .normal--uppercase;
		margin-bottom: rem(14);
	}

	.subtitle {
		font-size: $caption;
		color: $muted;
		line-height: $line-height-base;
		font-weight: $fw-normal;
		margin: 0px;
	}

	.form-text {
		font-size: $caption;
		color: $muted;
		margin-top: $text-spacer;
		text-align: center;

		.btn {
			font-size: $caption;
		}
	}

	.form-control[name="pincode"] {
		max-width: 79px;
		height: 58px;
		text-align: center;
		font-size: rem(16);
	}
}
