@use '../../../scss/abstracts' as *;

.left-col {
	flex: 0 0;
	// @include breakpoint-min(md) {
	// 	flex-basis: 306px;
	// }
	@include breakpoint-min(md) {
		flex-basis: 352px;
	}

	@include breakpoint-max(md) {
		margin-top: rem(17);
	}
}
