@use '../../../scss/abstracts' as *;
@use '../../../scss/layout' as *;

#total-card {
	@include breakpoint-max(md) {
		margin-top: auto;
	}
}
.card.card--popup {
	transition-property: all;
	transition-duration: .5s;
	transition-timing-function: cubic-bezier(0, 1, 0.5, 1);

	@include breakpoint-max(md) {
		@include full-width();
		box-shadow: $box-shadow-card;

		.card-body {
			display: none;
		}

		&-expanded {
			position: absolute;
			max-height: 100vh;
			top: 7%;
			bottom: 0;

			.card-body {
				display: block;
			}
		}
	}

	.card-header {
		&-price {
			@extend %icon-text-box;
		}

		.btn--icon-lg {
			background-image: url("data:image/svg+xml,%3Csvg width='24' height='24' viewBox='0 0 24 24' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M7.79289 14.2071C8.18342 14.5976 8.81658 14.5976 9.20711 14.2071L12 11.4142L14.7929 14.2071C15.1834 14.5976 15.8166 14.5976 16.2071 14.2071C16.5976 13.8166 16.5976 13.1834 16.2071 12.7929L12.7071 9.29289C12.3166 8.90237 11.6834 8.90237 11.2929 9.29289L7.79289 12.7929C7.40237 13.1834 7.40237 13.8166 7.79289 14.2071Z' fill='%23777E91'/%3E%3C/svg%3E%0A");
			@extend %btn-background;
		}
	}

	.list + .list {
		margin-top: rem(20);
	}

	.heading {
		font-weight: $fw-medium;
		margin-bottom: rem(3);
	}
	ul {
		li {
			font-size: $small;

			.col {
				white-space: nowrap;
			}
		}
	}

	.card-footer {
		display: flex;
		flex-direction: column;

		@include breakpoint-max(md) {
			.btn {
				margin-top: 0px;
			}
		}
		> * {
			flex: 1;
		}
	}
}
