@use '../../scss/abstracts' as *;
@use '../../scss/layout/spacing' as *;
@use '../../scss/theme/colors' as *;
@use '../../scss/theme/tables' as *;

.order-summary-card {
	.card-body {
		display: flex;
		flex-direction: column;
		font-size: $small;

		.card-body-subtitle--flex {
			order: -1;
			margin-bottom: rem(10);
		}

		.btn-toggle {
			&::after {
				margin-right: rem(5);
			}
		}

		.transaction {
			position: relative;
			& + .transaction {
				margin-top: $text-spacer-xs;
			}

			&-desc {
				display: flex;
				flex-direction: column;
				gap: rem(6);
			}
		}

		// .progress-line {
		// 	.transaction-desc {
		// 		padding-left: 20px;
		// 	}

		// 	&--primary {
		// 		.status-label,
		// 		.transaction {
		// 			&::before {
		// 				background-color: $primary;
		// 			}
		// 		}
		// 	}

		// 	&--secondary {
		// 		.status-label,
		// 		.transaction {
		// 			&::before {
		// 				background-color: $secondary;
		// 			}
		// 		}
		// 	}

		// 	.status-label {
		// 		display: flex;
		// 		align-items: center;

		// 		&::before {
		// 			content: '';
		// 			display: inline-block;
		// 			width: 10px;
		// 			height: 10px;
		// 			border-radius: 50%;
		// 			margin-right: rem(10);
		// 		}
		// 	}

		// 	.transaction {
		// 		&::before {
		// 			content: '';
		// 			position: absolute;
		// 			width: 2px;
		// 			height: calc(100% + 16px);
		// 			top: 10px;
		// 			left: 4px;
		// 			right: 4px;
		// 			margin-right: rem(10);
		// 		}

		// 		&:last-of-type {
		// 			&::before {
		// 				content: '';
		// 				display: none;
		// 			}
		// 		}
		// 	}
		// }

		.total-row {
			border-bottom-width: 0px;
			border-bottom-style: none;
			border-bottom-color: transparent;

			td {
				font-weight: $fw-medium;
				font-size: $body-2;
			}
		}
	}
}
