@use '../../../scss/abstracts' as *;
@use '../../../scss/layout/spacing' as *;
@use '../../../scss/layout/images' as *;
@use '../../../scss/theme/colors' as *;

.cards {
	.card {
		height: 100%;

		&-body {
			padding-top: rem(24);
			padding-bottom: rem(24);
		}
	}

	#tickets-sold-card {
		.card-body {
			display: flex;
			flex-direction: column;

			.progress {
				margin-top: auto;
			}
		}
	}

	.small-label--flex {
		margin-bottom: rem(8);
	}

	.small-text {
		font-size: $small;
		color: $text-muted;
		font-weight: $fw-semi-bold;
	}

	.shareable-link,
	.payout,
	.total-sales {
		&::before {
			display: inline-block;
			@extend %img-psuedo-icon;
		}
	}

	.shareable-link {
		&::before {
			background-image: url('../../../assets/icons/link.svg');
			transform: scale(2);
		}
	}

	.total-sales {
		&:before {
			margin-right: $gap;
			background-image: url('../../../assets/icons/growth.svg');
			background-color: rgba($primary, var(--opac));
		}
	}

	.payout {
		&:before {
			margin-right: $gap;
			background-image: url('../../../assets/icons/coin.svg');
			background-color: rgba($success, var(--opac));
		}
	}
}
