@use '../../../../scss/abstracts' as *;
@use '../../../../scss/theme/custom' as *;
@use '../../../../scss/layout' as *;

.seat-selection {
	@include breakpoint-max(md) {
		margin-top: rem(17);
	}

	.amount {
		margin: rem(12) 0px;
		padding-bottom: rem(12);
		border-bottom: border();
		.form-control {
			border-radius: 4px;
			width: 15%;
			font-size: $caption;
			text-align: center;
			padding: 0px em(15);

			@include breakpoint-min(md) {
				padding: 0px em(20);
			}
		}
	}

	.list-group {
		scrollbar-width: none;
		max-height: 300px;

		&::-webkit-scrollbar {
			display: none;
		}

		overflow-y: auto;
		margin-top: rem(24);

		&-item {
			user-select: none;
			background-color: $gray-300;
			padding: em(10) em(12);
		}

		& input[type="radio"] {
			display: none;
		}

		&-item,
		input[type="radio"],
		label {
			cursor: pointer;
		}

		& input[type="radio"]:checked {
			background-color: blue;
			color: #fff;
		}
	}
}
