@use '../../../../scss/abstracts' as *;
@use '../../../../scss/theme/custom' as *;
@use '../../../../scss/layout' as *;

.seat-selection {
	position: relative;
	.option-btns {
		margin-bottom: rem(24);

		@include breakpoint-min(md) {
			margin-bottom: rem(26);
		}
	}
	.amount {
		display: none;

		@include breakpoint-min(md) {
			display: flex;
		}
	}
	.list-group {
		@extend %remove-scrollbar;
		max-height: 240px;

		overflow-y: auto;
		margin-top: rem(14);

		&-item {
			user-select: none;
			background-color: $gray-300;
			padding: em(10) em(12);
			line-height: 1.2;
			cursor: pointer;
		}

		// & input[type="radio"] {
		// 	display: none;
		// }

		// &-item,
		// input[type="radio"],
		// label {
		// 	cursor: pointer;
		// }

		// & input[type="radio"]:checked {
		// 	background-color: blue;
		// 	color: #fff;
		// }
	}
}
