@use '../../../../scss/layout' as *;

#success {
	.card-heading-title {
		margin-bottom: $text-spacer-sm;
		text-align: center;
	}
	&::before {
		content: '';
		background-image: url('../../../../assets/icons/success.svg');
		width: 106px;
		height: 106px;
	}
}
