// Fonts
$font-body: 'Poppins', sans-serif;
$font-heading: 'DM Sans', sans-serif;

// Font Weights
$fw-normal: 400;
$fw-medium: 500;
$fw-semi-bold: 600;
$fw-bold: 700;

$h1: 64;
$h2: 48;
$h3: 40;
$h4: 32;
