@use '../../scss/abstracts' as *;
@use '../../scss/layout/spacing' as *;

.empty {
	display: flex;
	gap: $gap-sm;
	align-items: center;

	p {
		margin-bottom: 0px;
		font-size: $small;
		font-weight: $fw-medium;
	}

	&.center {
		max-width: 432px;
		margin: auto;
		flex-direction: column;
		justify-content: center;

		p {
			text-align: center;
		}
	}

	&::before {
		content: '';
		background-repeat: no-repeat;
		background-position: center;
		background-image: url('../../assets/icons/info.svg');
		width: 24px;
		height: 24px;
	}

	&.lg {
		&::before {
			transform: scale(1.4);
			width: 32px;
			height: 32px;
		}
		p {
			font-size: $body-2;
		}
	}
}
