@use '../../scss/abstracts' as *;
@use '../../scss/layout' as *;

#checkout-wrapper {
	padding-top: em(29);
	position: relative;

	@include breakpoint-min(md) {
		padding: em(40) 0px;
	}

	.row {
		flex: 1;
	}

	.scroll-container {
		flex: 1;

		@include breakpoint-max(md) {
			padding-top: em(16);
		}

		.scrollable-content {
			@include breakpoint-max(md) {
				height: 100%;
				overflow-y: auto;
			}
			@extend %remove-scrollbar;

			@include breakpoint-max(md) {
				.content {
					max-height: 481px;
				}
			}
		}
	}

	section {
		padding: em(24) 0px;

		&:first-of-type {
			@include breakpoint-max(md) {
				padding-top: em(10);
			}
		}
	}

	#addOns {
		border-bottom: border();
	}
}
