@use '../../scss/abstracts' as *;
@use '../../scss/layout' as *;
@use '../../scss/theme/colors' as *;

#checkout-wrapper {
	padding-top: $spacer-xs;
	position: relative;

	@include breakpoint-min(md) {
		padding: rem(40) 0px;
	}

	&.confirmation-padding {
		padding-bottom: $spacer-xs;

		@include breakpoint-min(md) {
			padding-top: $spacer-sm;
			padding-bottom: $spacer-sm;
		}
	}

	section {
		padding: $text-spacer-sm 0px;

		& + section {
			border-top: border();
		}

		@include breakpoint-max(md) {
			&:last-of-type {
				padding-bottom: $text-spacer-sm;
			}
		}

		.section-title {
			font-size: $body-1;
			font-weight: $fw-semi-bold;
			margin-bottom: rem(20);

			// payment confirmation
			&.section-title--muted {
				font-size: $body-2;
				color: $muted;
				font-weight: $fw-medium;
			}
		}

		&:first-of-type {
			@include breakpoint-min(md) {
				padding-top: 0px;
			}
		}
	}
}
