@use '../abstracts' as *;
@use '../theme/borders' as theme;
@use '../theme/colors' as *;

$card-bg: $clr-neutral-8;
$card-border-color: transparent;
$card-border-radius: theme.$border-radius;
// $card-title-spacer-y: em(10);
$card-color: $text-muted;

// card body
$card-spacer-y: em(32);
$card-spacer-x: em(32);
