@use '../abstracts' as *;
@use './buttons' as *;
@use './colors' as *;
@use './borders' as *;

$input-font-size: rem(14);
$input-font-weight: $fw-medium;
$input-font-size-sm: rem(12);
$input-font-size-lg: $input-font-size;
$input-disabled-bg: transparent;

// input
$input-padding-y: rem(12);
$input-padding-x: rem(16);

// hero search bar
$input-padding-y-lg: rem(20);
$input-padding-x-lg: rem(20);

// search input
$input-padding-x-sm: rem(16);
$input-padding-y-sm: rem(10);

$input-border-radius: rem(12);
$input-border-width: $border-width;
$input-focus-box-shadow: none;
$input-focus-border-color: $primary;
$input-placeholder-color: $clr-neutral-5;

$form-select-border-radius: rem(12);
$form-select-focus-box-shadow: none;
$form-select-border-radius: $border-radius;
$form-select-padding-y: $btn-padding-y-lg;
$form-select-padding-x: $btn-padding-x-lg;
$form-select-bg-position: right 1em center;
