@use "../abstracts" as *;
@use './colors' as *;

// Buttons
$btn-font-family: $font-heading;
$btn-font-weight: $fw-bold;
$btn-font-size: rem(14);

// medium button
$btn-font-size-lg: rem(16);
$btn-padding-y-lg: em(13);
$btn-padding-x-lg: em(24);

// small button
$btn-padding-x: em(16);
$btn-padding-y: em(13);

// xsmall button
$btn-padding-y-sm: em(8);
$btn-padding-x-sm: em(14);

$btn-border-radius: $br-primary;
$btn-border-radius-sm: $br-primary;
$btn-border-width: $border-width;
$btn-line-height: 1;
$btn-box-shadow: none;
$btn-focus-box-shadow: none;

// Modals
$btn-close-bg: url("data:image/svg+xml,%3Csvg width='24' height='24' viewBox='0 0 24 24' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M12 20C16.4183 20 20 16.4183 20 12C20 7.58172 16.4183 4 12 4C7.58172 4 4 7.58172 4 12C4 16.4183 7.58172 20 12 20ZM12 22C17.5228 22 22 17.5228 22 12C22 6.47715 17.5228 2 12 2C6.47715 2 2 6.47715 2 12C2 17.5228 6.47715 22 12 22Z' fill='%23777E91'/%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M8.29289 8.29289C8.68342 7.90237 9.31658 7.90237 9.70711 8.29289L12 10.5858L14.2929 8.29289C14.6834 7.90237 15.3166 7.90237 15.7071 8.29289C16.0976 8.68342 16.0976 9.31658 15.7071 9.70711L13.4142 12L15.7071 14.2929C16.0976 14.6834 16.0976 15.3166 15.7071 15.7071C15.3166 16.0976 14.6834 16.0976 14.2929 15.7071L12 13.4142L9.70711 15.7071C9.31658 16.0976 8.68342 16.0976 8.29289 15.7071C7.90237 15.3166 7.90237 14.6834 8.29289 14.2929L10.5858 12L8.29289 9.70711C7.90237 9.31658 7.90237 8.68342 8.29289 8.29289Z' fill='%23777E91'/%3E%3C/svg%3E%0A");
$btn-close-width: 24px;

$navbar-light-toggler-icon-bg: url("data:image/svg+xml,%3Csvg width='22' height='12' viewBox='0 0 22 12' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M1.66683 0.666656C0.93045 0.666656 0.333496 1.26361 0.333496 1.99999C0.333496 2.73637 0.93045 3.33332 1.66683 3.33332H20.3335C21.0699 3.33332 21.6668 2.73637 21.6668 1.99999C21.6668 1.26361 21.0699 0.666656 20.3335 0.666656H1.66683Z' fill='%23777E91'/%3E%3Cpath d='M1.66683 8.66666C0.93045 8.66666 0.333496 9.26361 0.333496 9.99999C0.333496 10.7364 0.93045 11.3333 1.66683 11.3333H20.3335C21.0699 11.3333 21.6668 10.7364 21.6668 9.99999C21.6668 9.26361 21.0699 8.66666 20.3335 8.66666H1.66683Z' fill='%23777E91'/%3E%3C/svg%3E%0A");
$navbar-light-toggler-border-color: transparent;
