@use '../abstracts' as *;

$body-color: $clr-neutral-2;

// Theme Colors
$primary: $clr-primary;
$secondary: $clr-secondary;
$green: $clr-success;
$light: $clr-neutral-6;
$white: $clr-neutral-8;
$muted: $clr-neutral-4;
$gray-400: $clr-neutral-6;
