@use '../abstracts' as *;

$border-radius: $br-primary;
$border-width: $border-width;

$input-border-width: $border-width;
$input-padding-y: $input-padding-y;
$input-padding-x: $input-padding-x;
$input-font-size: $small;
