@use '../abstracts' as *;
@use './buttons' as *;
@use './colors' as *;

$input-font-size: rem(14);
$input-font-size-sm: rem(12);
$input-font-size-lg: $input-font-size;
$input-disabled-bg: transparent;

// input
$input-padding-y: rem(12);
$input-padding-x: rem(16);

// single input
$input-padding-x-lg: rem(16);
$input-padding-y-lg: rem(8);

// search input
$input-padding-x-sm: rem(8);
$input-padding-y-sm: rem(10);

$border-radius: $br-input;
$border-radius-lg: $br-primary;
$border-radius-sm: $br-input-sm;
$border-width: $border-width;
$input-border-width: $border-width;
$input-focus-box-shadow: none;
$input-focus-border-color: $primary;
$input-placeholder-color: $clr-neutral-5;

$form-select-focus-box-shadow: none;
$form-select-border-radius: $br-input;
$form-select-padding-y: $btn-padding-y-lg;
$form-select-padding-x: $btn-padding-x-lg;
$form-select-font-weight: 500;
$form-select-bg-position: right 1em center;
$form-select-indicator: url("data:image/svg+xml,%3Csvg width='32' height='32' viewBox='0 0 32 32' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M20.2071 13.7929C19.8166 13.4024 19.1834 13.4024 18.7929 13.7929L16 16.5858L13.2071 13.7929C12.8166 13.4024 12.1834 13.4024 11.7929 13.7929C11.4024 14.1834 11.4024 14.8166 11.7929 15.2071L15.2929 18.7071C15.6834 19.0976 16.3166 19.0976 16.7071 18.7071L20.2071 15.2071C20.5976 14.8166 20.5976 14.1834 20.2071 13.7929Z' fill='%23777E91'/%3E%3Crect x='1' y='1' width='30' height='30' rx='15' stroke='%23E6E8EC' stroke-width='2'/%3E%3C/svg%3E%0A");

$form-switch-color: $clr-neutral-4;
$form-switch-focus-color: $form-switch-color;
$form-switch-width: em(50);
// $form-switch-transition: none;

$form-check-label-cursor: pointer;
$form-check-input-width: em(25);
$form-check-margin-bottom: rem(12);
$form-label-font-size: rem(14);
