@use '../abstracts' as *;

$input-font-size: rem(14);
$input-font-size-sm: rem(12);
$input-padding-y: em(6);
$input-padding-x: em(8);
$input-padding-x-sm: em(10);
$input-padding-y-sm: em(10);

$border-radius: $br-primary;
$border-radius-sm: $br-sm;
$border-width: $border-width;
$input-border-width: $border-width;
$input-focus-border-color: transparent;
$input-focus-box-shadow: none;
