@use '../abstracts' as *;

// Fonts
$font-family-sans-serif: $font-body;
$small-font-size: $small;

$display-font-weight: $fw-bold;
$headings-font-family: $font-heading;
$headings-font-weight: $fw-semi-bold;
$headings-margin-bottom: rem(43);
$display-line-height: 1;

$h1-font-size: $h1-font-size;
$h2-font-size: $h2-font-size;
$h3-font-size: $h3-font-size;
$h4-font-size: $h4-font-size;
