@use '../../scss/layout/spacing' as *;
@use '../../scss/theme/colors' as *;

#btn-footer {
	position: fixed;
	bottom: 0;
	right: 0;
	left: 0;
	padding: $text-spacer-sm 0px;
	background-color: $gray-300;
	transition: all .32s cubic-bezier(.4, 0, .3, 1);

	.btn-container {
		max-width: 960px;
		margin: auto;
		padding: 0px 48px;
	}
	.btn {
		& + .btn {
			flex-basis: 112px;
		}
	}
}
