@use '../../../../scss/abstracts' as *;

.left-col {
	.ticket-counter {
		border-top: border();
		padding: rem(23) 0px;
	}

	.btn-link {
		font-size: $body-2;
		&:hover {
			text-decoration: underline;
		}
	}

	.ticket-details {
		h1 {
			margin-bottom: rem(6);
		}
		flex-basis: 114px;
		border-bottom: border();
	}

	.disclaimer {
		padding: rem(23) 0px;
	}

	.counter {
		width: 120px;
	}
}
