@use '../../scss/abstracts' as *;

.amount {
	padding-bottom: rem(18);
	@include breakpoint-min(md) {
		padding-bottom: em(24);
	}

	.form-control {
		border-radius: 4px;
		width: 17%;
		font-size: $caption;
		color: #000;
		font-weight: $fw-normal;
		text-align: center;
		padding: em(5) em(14);
		margin-top: 0px;
	}
}
