@use '../../scss/abstracts' as *;
@use '../../scss/layout/spacing' as *;

#warning {
	display: flex;
	gap: $gap-sm;
	align-items: center;

	p {
		margin-bottom: 0px;
	}

	&.center {
		max-width: 432px;
		margin: auto;
		flex-direction: column;
		justify-content: center;

		p {
			text-align: center;
		}
	}

	&.sm {
		&::before {
			background-image: url('../../assets/icons/info-medium.svg');
			width: 24px;
			height: 24px;
		}
	}

	&::before {
		content: '';
		background-repeat: no-repeat;
		background-position: center;
		background-image: url('../../assets/icons/info-large.svg');
		width: 32px;
		height: 32px;
	}

	p {
		font-weight: $fw-medium;
	}
}
