@use '../abstracts' as *;
@use '../theme/colors' as *;

.badge {
	&-outline {
		text-transform: uppercase;
		border-style: solid;
		border-width: $border-width;
		background-color: $white !important;

		&--primary {
			color: $primary;
			border-color: $primary;
		}
	}

	&--light {
		background-color: $gray-300;
	}

	&-lg {
		font-size: $small;
		border-radius: 12px;
		font-weight: $fw-medium;
		padding: rem(19);
	}

	&-xl {
		font-size: $h4-font-size;
		border-radius: 12px;
		font-weight: $fw-bold;
		padding: rem(12) rem(16);
		font-family: $font-heading;
	}
}
