@use '../abstracts' as *;

.badge-outline {
	text-transform: uppercase;
	border-style: solid;
	border-width: $border-width;
	background-color: $clr-white !important;

	&--primary {
		color: $clr-primary;
		border-color: $clr-primary;
	}
}

.badge-lg {
	font-size: $small;
	border-radius: 12px;
	font-weight: $fw-medium;
	padding: rem(19);
}

.badge-xl {
	font-size: $h4-font-size;
	border-radius: 12px;
	font-weight: $fw-bold;
	padding: rem(24);
	font-family: $font-heading;
}
