@use '../abstracts' as *;
@use '../theme/colors' as *;

.badge {
	&-outline {
		text-transform: uppercase;
		border-style: solid;
		border-width: $border-width;
		background-color: $white !important;

		&--primary {
			color: $primary;
			border-color: $primary;
		}

		&--light {
			border-radius: $br-secondary;
			border-color: $light;
			color: $body-color;
		}
	}

	&-lg {
		font-size: $body-2;
		border-radius: $br-primary;
		font-weight: $fw-medium;
		padding: rem(19);
	}
}
