@use '../abstracts' as *;
@use 'container' as *;
@use 'spacing' as *;
@use '../theme/input' as *;
@use '../theme/colors' as *;

%btn-background {
	background-repeat: no-repeat;
	background-position: center;
}

.btn + .btn {
	margin-left: rem(16);
}

.btn-group-flex {
	align-items: center;
	> .btn {
		margin: 0px;

		&:not(.btn--icon) {
			flex: 1;
		}
	}
}

.btn {
	margin-top: rem(14);
	white-space: nowrap;

	&.d-flex {
		flex-wrap: nowrap;
	}

	a {
		color: inherit;
	}
}

button,
.btn {
	&:focus {
		box-shadow: none !important;
	}
}

.btn-primary,
.btn-secondary,
.btn-success {
	color: $white;

	&:hover,
	&:focus,
	&:disabled {
		color: $white;
	}
}

.btn-outline-light {
	color: $body-color;

	&:disabled {
		color: inherit;
	}
}

.btn-group {
	column-gap: rem(18);

	@media (max-width: 375px) {
		column-gap: rem(5);
	}

	> .btn:not(:first-child) {
		margin-left: 0px;
	}
	> .btn:not(.dropdown-toggle),
	.ticket-pick {
		border-radius: $border-radius !important;
		padding: rem(26) rem(24);
		border: none;
		background-color: $gray-300;
		color: $text-muted;
		font-size: $body-2;
		flex: 0 0;
		flex-basis: 73.5px;

		@media (min-width: 500px) {
			flex-basis: 95px;
		}
	}

	.btn-check {
		&:checked,
		&:focus {
			& + .btn {
				box-shadow: none;
			}
		}
		&:checked {
			& + .btn {
				background-color: $primary;
				color: $white;
			}
		}
	}
}

.ticket-pick {
	cursor: initial;
}

.btn-link {
	margin-top: 0px;
	padding: 0px;
	border: 0;
	vertical-align: baseline;
}

%btn-icon {
	padding: 0px;
	margin-top: 0px;
}

.btn--icon {
	@extend %btn-icon !optional;
	width: 40px;
	height: 40px;

	&-sm {
		@extend %btn-icon !optional;
		width: 32px;
		height: 32px;
	}
}

.btn--info {
	@extend %icon-text-box !optional;
	gap: $gap-sm;
	margin-top: 0px;
	white-space: nowrap;
}

.btn--filter {
	line-height: 1.4;
	border-radius: $br-primary;
	margin-top: 0px;
	width: 100%;
	font-family: $font-body;
	font-weight: $fw-medium;
	padding: $input-padding-y $input-padding-x;
	@extend %btn-background !optional;
	background-image: url("data:image/svg+xml,%3Csvg width='16' height='16' viewBox='0 0 16 16' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M3.33333 2.66667C3.33333 2.29848 3.03486 2 2.66667 2C2.29848 2 2 2.29848 2 2.66667V4C2 4.36819 2.29848 4.66667 2.66667 4.66667C3.03486 4.66667 3.33333 4.36819 3.33333 4V2.66667Z' fill='%2323262F'/%3E%3Cpath d='M3.33333 8C3.33333 7.63181 3.03486 7.33333 2.66667 7.33333C2.29848 7.33333 2 7.63181 2 8V12C2 12.3682 2.29848 12.6667 2.66667 12.6667C3.03486 12.6667 3.33333 12.3682 3.33333 12V8Z' fill='%2323262F'/%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M3.33317 6.66659V5.33325C3.33317 4.96506 3.03469 4.66659 2.6665 4.66659C2.29831 4.66659 1.99984 4.96506 1.99984 5.33325V6.66659C1.99984 7.03478 2.29831 7.33325 2.6665 7.33325C3.03469 7.33325 3.33317 7.03478 3.33317 6.66659ZM2.6665 3.33325C1.56193 3.33325 0.666504 4.22868 0.666504 5.33325V6.66659C0.666504 7.77116 1.56193 8.66659 2.6665 8.66659C3.77107 8.66659 4.6665 7.77116 4.6665 6.66659V5.33325C4.6665 4.22868 3.77107 3.33325 2.6665 3.33325Z' fill='%23777E91'/%3E%3Cpath d='M8.66683 5.33341C8.66683 4.96522 8.36835 4.66675 8.00016 4.66675C7.63197 4.66675 7.3335 4.96522 7.3335 5.33341V7.33341C7.3335 7.7016 7.63197 8.00008 8.00016 8.00008C8.36835 8.00008 8.66683 7.7016 8.66683 7.33341V5.33341Z' fill='%23777E91'/%3E%3Cpath d='M8.66683 12.0001C8.66683 11.6319 8.36835 11.3334 8.00016 11.3334C7.63197 11.3334 7.3335 11.6319 7.3335 12.0001V13.3334C7.3335 13.7016 7.63197 14.0001 8.00016 14.0001C8.36835 14.0001 8.66683 13.7016 8.66683 13.3334V12.0001Z' fill='%23777E91'/%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M8.66667 10.6667V8.66675C8.66667 8.29856 8.36819 8.00008 8 8.00008C7.63181 8.00008 7.33333 8.29856 7.33333 8.66675V10.6667C7.33333 11.0349 7.63181 11.3334 8 11.3334C8.36819 11.3334 8.66667 11.0349 8.66667 10.6667ZM8 6.66675C6.89543 6.66675 6 7.56218 6 8.66675V10.6667C6 11.7713 6.89543 12.6667 8 12.6667C9.10457 12.6667 10 11.7713 10 10.6667V8.66675C10 7.56218 9.10457 6.66675 8 6.66675Z' fill='%23777E91'/%3E%3Cpath d='M13.9998 2.66667C13.9998 2.29848 13.7014 2 13.3332 2C12.965 2 12.6665 2.29848 12.6665 2.66667V4C12.6665 4.36819 12.965 4.66667 13.3332 4.66667C13.7014 4.66667 13.9998 4.36819 13.9998 4V2.66667Z' fill='%23777E91'/%3E%3Cpath d='M13.9998 10C13.9998 9.63181 13.7014 9.33333 13.3332 9.33333C12.965 9.33333 12.6665 9.63181 12.6665 10V12C12.6665 12.3682 12.965 12.6667 13.3332 12.6667C13.7014 12.6667 13.9998 12.3682 13.9998 12V10Z' fill='%23777E91'/%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M14.0002 8.66659V5.33325C14.0002 4.96506 13.7017 4.66659 13.3335 4.66659C12.9653 4.66659 12.6668 4.96506 12.6668 5.33325V8.66659C12.6668 9.03478 12.9653 9.33325 13.3335 9.33325C13.7017 9.33325 14.0002 9.03478 14.0002 8.66659ZM13.3335 3.33325C12.2289 3.33325 11.3335 4.22868 11.3335 5.33325V8.66659C11.3335 9.77116 12.2289 10.6666 13.3335 10.6666C14.4381 10.6666 15.3335 9.77116 15.3335 8.66659V5.33325C15.3335 4.22868 14.4381 3.33325 13.3335 3.33325Z' fill='%23777E91'/%3E%3C/svg%3E%0A");
	background-position: right 1em center;
	text-align: left;
}

.icon-button,
.btn--icon {
	@extend %icon-text-box !optional;
	justify-content: center;

	&::before,
	&::after {
		line-height: 0;
	}
}

.btn-tickets {
	&--plain {
		&::before {
			content: url($data-svg-prefix + map-get($icons, 'ticketWhite'));
		}
	}
	&--primary {
		&::before {
			content: url($data-svg-prefix + map-get($icons, 'ticketSecondary'));
		}
	}
}

.btn-next {
	@extend .icon-button !optional;
	&::after {
		content: url($data-svg-prefix + map-get($icons, 'rightArrow'));
	}
}

.btn-location {
	&::before {
		content: url("data:image/svg+xml,%3Csvg width='14' height='14' viewBox='0 0 14 14' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M11.6685 0.651997C13.0422 0.0796096 14.4203 1.45776 13.848 2.83148L9.89895 12.3091C9.12665 14.1626 6.41012 13.8493 6.08001 11.8687L5.58733 8.91263L2.63128 8.41995C0.650618 8.08984 0.337325 5.37331 2.19084 4.60101L11.6685 0.651997ZM12.6172 2.31866C12.7317 2.04392 12.456 1.76829 12.1813 1.88277L2.70366 5.83178C2.08582 6.08921 2.19026 6.99472 2.85047 7.10476L5.80653 7.59743C6.36849 7.6911 6.80886 8.13146 6.90252 8.69343L7.3952 11.6495C7.50523 12.3097 8.41074 12.4141 8.66818 11.7963L12.6172 2.31866Z' fill='%23FCFCFD'/%3E%3C/svg%3E%0A");
	}
}
.btn-back {
	&::before {
		content: url("data:image/svg+xml,%3Csvg width='10' height='7' viewBox='0 0 10 7' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M3.60612 0.843553C3.33557 0.593815 2.9138 0.610684 2.66406 0.88123L0.510216 3.21454C0.274484 3.46991 0.274482 3.86353 0.510212 4.11891L2.66406 6.45227C2.91379 6.72282 3.33557 6.73969 3.60611 6.48996C3.87666 6.24022 3.89354 5.81845 3.6438 5.5479L2.52273 4.33339L9.00008 4.33339C9.36827 4.33339 9.66675 4.03492 9.66675 3.66673C9.66675 3.29854 9.36827 3.00006 9.00008 3.00006L2.52275 3.00006L3.6438 1.78561C3.89353 1.51506 3.87666 1.09329 3.60612 0.843553Z' fill='%2323262F'/%3E%3C/svg%3E%0A");
	}
}
