@use '../abstracts' as *;
@use 'spacing' as *;
@use 'typography' as *;
@use 'container' as *;
@use '../theme/card' as *;
@use '../theme/colors' as *;

%plain-card {
	background: transparent;
	border-color: transparent;
	border-radius: 0px;

	.card-body {
		padding: em(21);

		& * {
			@extend %text-truncate !optional;
		}
	}

	.card-title {
		margin-bottom: em(10);
	}
}

.card {
	.card-subtitle {
		margin-top: 0px;
	}
	&--light {
		background-color: $white;

		.card-header,
		.card-footer {
			background-color: inherit;
		}
	}

	&--dark {
		background-color: $clr-neutral-3;

		* {
			color: $clr-white;
		}
	}

	&--popup {
		@include breakpoint-max(md) {
			@include full-width();
			box-shadow: $box-shadow-popupCard;
		}
	}

	.event-details {
		margin-bottom: rem(16);
		.event-detail {
			margin-bottom: rem(10);
		}
	}

	& * {
		font-family: $font-body;
	}

	.btn,
	.btn * {
		font-family: $font-heading;
	}

	&-title {
		font-weight: $fw-medium;
		color: $body-color;
	}

	&-subtitle {
		font-weight: $fw-bold;
		font-size: $caption;
	}

	// used in ticketCard, settings
	&-md {
		$padding: em(20) em(24);

		.card-body {
			padding: $padding;
		}
	}

	// used in settings options
	&-lg {
		$padding: em(30) em(20);

		.card-body {
			padding: $padding;
		}
	}

	// used in total card
	&-xl {
		$m-x: em(39);
		$pad-y: em(24);

		padding-left: 0px;
		padding-right: 0px;

		.card-header {
			padding: $pad-y 0px;
			margin: 0px $m-x;
		}

		.card-heading {
			margin-bottom: $text-spacer-sm;
		}

		.card-title,
		.card-heading-title {
			font-size: $body-1;
			font-weight: $fw-semi-bold;
		}

		.card-body {
			padding: $pad-y 0px;
			margin: 0px $m-x;
			display: flex;
			flex-direction: column;

			&-header {
				padding-bottom: $pad-y;
				border-bottom: border();
			}
		}

		.card-footer {
			padding: em(24) 0px;
			margin: 0px $m-x;
		}
	}
}

.sticky-card {
	@include breakpoint-max(md) {
		position: sticky;
		bottom: 0;
		z-index: 999;
		margin-top: auto;
	}
}
