@use './spacing' as *;
@use '../abstracts' as *;

/* container */
.container {
	max-width: 1120px;
	margin: 0 auto;
	@include breakpoint(medium, max-width) {
		padding: 0px em(32);
	}
}

%icon-text-box {
	display: flex;
	gap: $gap;
	align-items: center;
	&::before {
		line-height: 0;
	}
}
