@use './spacing' as *;
@use '../abstracts' as *;

/* container */
.container {
	max-width: 1130px;
	margin: 0 auto;

	@include breakpoint-max(xl) {
		padding: 0px em(81);
	}
	@include breakpoint-max(lg) {
		padding: 0px em(32);
	}
}

%icon-text-box {
	display: flex;
	gap: $gap;
	align-items: center;
	&::before {
		line-height: 0;
	}
}
