@use 'container';
@use 'typography';
@forward 'spacing';
@use 'buttons';
@use 'forms';

.nav-link {
	padding-left: 0px;
	padding-right: 0px;
}

.section-heading {
	display: flex;
	justify-content: space-between;
	align-items: center;
	margin-right: 1em;
}
