@use 'container';
@use 'buttons';
@use 'forms';
@use 'typography';
@forward 'spacing';

%icon-text-box {
	display: flex;
	gap: 4px;
	align-items: center;
	line-height: 0;
}

.section-heading {
	display: flex;
	justify-content: space-between;
	align-items: center;
}
