@use '../abstracts' as *;
@use '../layout/container' as *;
@use '../layout/spacing' as *;
@use '../theme/buttons' as *;

.modal {
	line-height: 1.5;

	&-title {
		font-size: $small;
	}

	&-content {
		width: 448px;
		margin: auto;
		&.popup {
			background-color: transparent;
			padding-top: rem(9);
			padding-right: rem(4);
			border: none;
		}
	}

	.modal-heading {
		margin-bottom: $text-spacer-sm;

		&-title {
			font-size: $body-1;
			margin-bottom: $text-spacer-sm;
		}

		p {
			font-size: $small;
		}
	}

	&-dialog-scrollable {
		.modal-body {
			display: flex;
			flex-direction: column;
			padding-top: 0px;
			@include remove-scrollbar();
		}
	}

	&-lg {
		padding: rem(32);

		p {
			font-size: $body-2;
		}
	}

	&-body {
		.btn {
			margin-left: 0px;
			margin-top: $text-spacer-sm;
			width: 100%;
			padding: $btn-padding-y-lg $btn-padding-x-lg;
			font-size: $btn-font-size-lg;
		}

		li + li {
			margin-top: rem(20);
		}

		.split-row {
			font-size: $body-2;
		}

		.form-group + .form-group {
			margin-top: rem(19);
		}
	}
}
