@use '../abstracts' as *;
@use '../layout/container' as *;
@use '../layout/spacing' as *;

.modal {
	line-height: 1.5;

	&-title {
		font-size: $small;
	}

	&-content.popup {
		background-color: transparent;
		padding-top: rem(9);
		padding-right: rem(4);
		border: none;
	}

	.modal-heading {
		margin-bottom: $text-spacer-sm;

		&-title {
			font-size: $body-1;
			margin-bottom: $text-spacer-sm;
		}

		p {
			font-size: $small;
		}
	}

	&-dialog-scrollable {
		.modal-body {
			display: flex;
			flex-direction: column;
			padding-top: 0px;
			@include remove-scrollbar();
		}
	}

	&-body {
		.btn {
			margin-left: 0px;
			margin-top: $text-spacer-sm;
			width: 100%;
		}

		li + li {
			margin-top: rem(20);
		}

		.split-row {
			font-size: $body-2;
		}

		.form-group + .form-group {
			margin-top: rem(19);
		}
	}
}
