@use '../abstracts' as *;

$banner-padding: em(58);
$spacer: em(63);
$spacer-sm: em(30);
$banner-spacer: rem(26);
$gap: em(14);
$gap-sm: em(4);
$card-body-spacer: em(7);

.spacer {
	padding: $spacer 0px;
}

.spacer-sm {
	padding: $spacer-sm 0px;
}
