@use '../abstracts' as *;

$spacer-sm: em(64);
$spacer-md: em(100);
$banner-spacer: rem(21);
$heading-spacer: rem(47);
$gap: em(14);
$gap-sm: em(4);
$card-body-spacer: em(7);

.banner-spacer {
	// could be paragraph margin
	margin-bottom: $banner-spacer;
}

.spacer {
	padding: $spacer-sm 0px;

	@include breakpoint(medium) {
		padding: $spacer-md 0px;
	}
}

.spacer-sm {
	padding: $spacer-sm 0px;
}
