@use '../../scss/abstracts' as *;
@use '../../scss/theme/colors' as *;

.alert {
	&.alert-danger {
		background-color: rgba($danger, 0.08);
		border: none;
	}
	.icon {
		svg {
			max-width: initial;
		}
	}
	.body {
		line-height: 25px;
	}
}
