@use '../../../../scss/abstracts' as *;
@use '../../../../scss/theme/colors' as *;
@use '../../../../scss/layout' as *;

#checkout-wrapper {
	#order-card {
		@extend .card-xs;

		.event-image {
			width: 64px;
			height: 64px;

			@include breakpoint-min(md) {
				width: 84px;
				height: 84px;
			}
		}

		.event {
			&-name {
				margin-bottom: rem(3);
				font-family: $font-body;
				font-size: $body-2;
			}
		}

		.details {
			flex-grow: 1;
			min-width: 0;

			*:not(.event-name) {
				font-size: $caption;
				margin-bottom: rem(1);
			}
		}
	}
}
