@use '../../scss/abstracts' as *;
@use '../../scss/theme/card' as *;
@use '../../scss/layout' as *;

footer {
	&::before {
		@include full-width-border();
	}

	.nav-link {
		padding-left: 0px;
	}

	.copyright {
		border-top: border();
	}

	.main-links {
		@include breakpoint-max(md) {
			justify-content: space-between;
		}

		@include breakpoint-min(md) {
			gap: rem(46);
		}
	}

	.main-links,
	.col:last-of-type {
		@include breakpoint-max(lg) {
			padding-top: $text-spacer;
		}

		ul li:first-child a {
			padding-top: 0px;
		}
	}

	.col {
		padding-bottom: $text-spacer;

		@include breakpoint-max(lg) {
			&:first-of-type {
				border-bottom: border();
			}
			&:last-of-type {
				border-top: border();
			}
		}
		@include breakpoint-min(lg) {
			padding-bottom: $text-spacer;
		}

		.footer-title {
			margin-bottom: $text-spacer;
		}

		.footer-title {
			font-weight: $fw-bold;
			font-family: $font-heading;
			font-size: $small;
		}
	}
}

.tag-line {
	margin-top: $text-spacer;

	@include breakpoint-min(lg) {
		margin-top: rem(29);
		font-size: rem(24);
		width: 18ch;
	}
}
