@use '../abstracts' as *;
@use '../theme/colors' as *;

.badge {
	&--success {
		background-color: rgba($success, 0.10);
	}

	&-label {
		text-transform: lowercase;
		color: $body-color;
		font-size: $small;
		font-weight: $fw-normal;
		border-radius: $br-sm;
	}
}

.vstack {
	.badge-label {
		width: min-content;
		margin: auto;
	}
}
