@use '../abstracts' as *;
@use '../theme/colors' as *;

.badge {
	&-outline {
		text-transform: uppercase;
		border-style: solid;
		border-width: $border-width;
		background-color: $white !important;

		&.text-normal {
			text-transform: none;
		}

		&--primary {
			color: $primary;
			border-color: $primary;
		}

		&--light {
			border-radius: $br-secondary;
			border-color: $light;
			color: $body-color;
		}
	}

	&-label {
		text-transform: lowercase;
		color: $body-color;
		font-weight: $fw-normal;
		border-radius: $br-sm;
	}

	&-lg {
		font-size: $body-2;
		border-radius: $br-primary;
		font-weight: $fw-medium;
		padding: rem(19);
	}
}

.vstack {
	.badge-label {
		width: min-content;
		margin: auto;
	}
}
