@use '../abstracts' as *;
@use '../theme/colors' as *;

.badge {
	--opac: 0.10;

	&--success {
		background-color: rgba($success, var(--opac));
	}

	&--danger {
		background-color: rgba($danger, var(--opac));
	}

	&-label {
		text-transform: lowercase;
		color: $body-color;
		font-size: $small;
		font-weight: $fw-normal;
		border-radius: $br-sm;
	}

	&-outline {
		text-transform: uppercase;
		border-style: solid;
		border-width: $border-width;
		background-color: $white !important;

		&--primary {
			color: $primary;
			border-color: $primary;
		}

		&--secondary {
			color: $secondary;
			border-color: $secondary;
		}

		&--success {
			color: $success;
			border-color: $success;
		}
	}
}

.vstack {
	.badge-label {
		width: min-content;
		margin: auto;
	}
}
