@use '../abstracts' as *;
@use 'container' as *;
@use 'spacing' as *;
@use '../theme/input' as *;
@use '../theme/colors' as *;

%btn-background {
	background-repeat: no-repeat;
	background-position: center;
}

.btn + .btn {
	margin-left: rem(16);
}

.btn-group-flex {
	align-items: center;
	> .btn {
		margin: 0px;

		&:not(.btn--icon) {
			flex: 1;
		}
	}
}

.btn {
	// margin-top: rem(14);
	white-space: nowrap;

	&.d-flex {
		flex-wrap: nowrap;
	}

	a {
		color: inherit;
	}
}

button,
.btn {
	&:focus {
		box-shadow: none !important;
	}
}

.btn-primary,
.btn-secondary,
.btn-success {
	color: $white;

	&:hover,
	&:focus,
	&:disabled {
		color: $white;
	}
}

.btn-outline-light {
	color: $body-color;

	&:disabled {
		color: inherit;
	}
}

.btn-group {
	column-gap: rem(18);

	@media (max-width: 375px) {
		column-gap: rem(5);
	}

	> .btn:not(:first-child) {
		margin-left: 0px;
	}
	> .btn:not(.dropdown-toggle),
	.ticket-pick {
		border-radius: $border-radius !important;
		padding: rem(26) rem(24);
		border: none;
		background-color: $gray-300;
		color: $text-muted;
		font-size: $body-2;
		flex: 0 0;
		flex-basis: 73.5px;

		@media (min-width: 500px) {
			flex-basis: 95px;
		}
	}

	.btn-check {
		&:checked,
		&:focus {
			& + .btn {
				box-shadow: none;
			}
		}
		&:checked {
			& + .btn {
				background-color: $primary;
				color: $white;
			}
		}
	}
}

.btn-link {
	margin-top: 0px;
	padding: 0px;
	border: 0;
	vertical-align: baseline;
}

%btn-icon {
	padding: 0px;
	margin-top: 0px;
}

.btn--icon {
	@extend %btn-icon !optional;
	width: 40px;
	height: 40px;

	&-sm {
		@extend %btn-icon !optional;
		width: 32px;
		height: 32px;
	}
}

.btn--info {
	@extend %icon-text-box !optional;
	gap: $gap-sm;
	margin-top: 0px;
	white-space: nowrap;
}

.icon-button,
.btn--icon {
	@extend %icon-text-box !optional;
	justify-content: center;

	&::before,
	&::after {
		line-height: 0;
	}
}

.btn-plus {
	gap: $gap-sm;
	&::before {
		content: url($data-svg-prefix + map-get($icons, 'plus'));
	}
}

.btn-next {
	@extend .icon-button !optional;
	&::after {
		content: url($data-svg-prefix + map-get($icons, 'rightArrow'));
	}
}

.btn-location {
	&::before {
		content: url("data:image/svg+xml,%3Csvg width='14' height='14' viewBox='0 0 14 14' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M11.6685 0.651997C13.0422 0.0796096 14.4203 1.45776 13.848 2.83148L9.89895 12.3091C9.12665 14.1626 6.41012 13.8493 6.08001 11.8687L5.58733 8.91263L2.63128 8.41995C0.650618 8.08984 0.337325 5.37331 2.19084 4.60101L11.6685 0.651997ZM12.6172 2.31866C12.7317 2.04392 12.456 1.76829 12.1813 1.88277L2.70366 5.83178C2.08582 6.08921 2.19026 6.99472 2.85047 7.10476L5.80653 7.59743C6.36849 7.6911 6.80886 8.13146 6.90252 8.69343L7.3952 11.6495C7.50523 12.3097 8.41074 12.4141 8.66818 11.7963L12.6172 2.31866Z' fill='%23FCFCFD'/%3E%3C/svg%3E%0A");
	}
}

.btn-back {
	&::before {
		content: url("data:image/svg+xml,%3Csvg width='10' height='7' viewBox='0 0 10 7' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M3.60612 0.843553C3.33557 0.593815 2.9138 0.610684 2.66406 0.88123L0.510216 3.21454C0.274484 3.46991 0.274482 3.86353 0.510212 4.11891L2.66406 6.45227C2.91379 6.72282 3.33557 6.73969 3.60611 6.48996C3.87666 6.24022 3.89354 5.81845 3.6438 5.5479L2.52273 4.33339L9.00008 4.33339C9.36827 4.33339 9.66675 4.03492 9.66675 3.66673C9.66675 3.29854 9.36827 3.00006 9.00008 3.00006L2.52275 3.00006L3.6438 1.78561C3.89353 1.51506 3.87666 1.09329 3.60612 0.843553Z' fill='%2323262F'/%3E%3C/svg%3E%0A");
	}
}
