@use '../abstracts' as *;
@use 'spacing' as *;
@use 'typography' as *;
@use 'container' as *;
@use '../theme/card' as *;
@use '../theme/colors' as *;

.card {
	&--light {
		background-color: $white;
	}

	& * {
		font-family: $font-body;
	}

	.btn,
	.btn * {
		font-family: $font-heading;
	}

	.card-body-heading {
		margin-bottom: $text-spacer;

		h1 {
			margin-bottom: 0px;
		}
	}

	.card-body-title {
		font-size: $body-1;
	}
}
