@use '../abstracts' as *;
@use '../theme/colors' as *;
@use '../theme/borders' as *;
@use './spacing' as *;

$pad: rem(32);

$navbar-height-sm: rem(88);
$navbar-height: rem(82);

.container {
	max-width: 1440px;
	margin: 0 auto;
	padding-right: $pad;
	padding-left: $pad;
}

.backgroundWhite {
	background-color: #ffffff;
}

.sidebar-container {
	margin-left: 314px;
	max-width: 100%;
	padding-right: $pad;
	padding-left: $pad;
}

.max-width-wrapper {
	max-width: 1130px;
	margin: auto;
}

.wrapper {
	max-width: 736px;
	margin: auto;

	&-xs {
		max-width: 352px;
		margin: auto;
	}
}

.nav-is-open {
	overflow: hidden;
}

.btn-footer {
	position: fixed;
	left: 314px;
	right: 0;
	bottom: 0;
	padding: $text-spacer-sm;
	background-color: $gray-300;
	border-top: border();
	transition: all .32s cubic-bezier(.4, 0, .3, 1);

	&.without-sidebar {
		left: 0;
	}
	.wrapper,
	.max-width-wrapper {
		margin-top: 0px;
		margin-bottom: 0px;

		.btn-width {
			height: 48px;
			&-sm {
				flex-basis: 89px;
			}
			&-lg {
				flex-basis: 226px;
			}
		}
	}
}

@mixin hide-scrollbars() {
	& {
		-ms-overflow-style: none; /* Internet Explorer 10+ */
		scrollbar-width: none; /* Firefox */

		&::-webkit-scrollbar {
			display: none; /* Safari and Chrome */
		}
	}
}

.d-flex-column {
	display: flex;
	flex-direction: column;
}

%icon-text-box {
	display: flex;
	gap: $gap;
	align-items: center;

	&::before,
	&::after {
		line-height: 0;
	}
}

.block {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	width: 100%;
	height: 145px;
	border-radius: $border-radius-sm;

	@include breakpoint-min(md) {
		flex-basis: 145px;
	}
}

@mixin remove-scrollbar() {
	scrollbar-width: none;
	&::-webkit-scrollbar {
		display: none;
	}
}

.event-image {
	aspect-ratio: 1/1;
}

// browsers that do not support aspect-ratio like Explorer and Safari
@supports not (aspect-ratio: 1/1) {
	/* defined that the height of the depends on its width */
	.image-wrapper {
		position: relative;
		padding-top: 100%; // aspect-ratio 1 / 1
		/* image is absolutely positioned and it has the full width and height of its parent, with object-fit: cover for cases of uploading a different-sized image.  */
		.event-image {
			position: absolute;
			left: 0;
			top: 0;
			width: 100%;
			height: 100%;
			object-fit: cover;
		}
	}
}
