@use '../abstracts' as *;
@use '../theme/colors' as *;
@use './spacing' as *;

$pad-sm: rem(32);
$pad-md: rem(81);

$navbar-height-sm: rem(88);
$navbar-height: rem(82);

.my-container {
	max-width: 1130px;
	margin: 0 auto;
	@include breakpoint-max(md) {
		padding-right: $pad-sm;
		padding-left: $pad-sm;
	}

	@include breakpoint-inBetween(md, xl) {
		padding-right: $pad-md;
		padding-left: $pad-md;
	}
}

.main-content {
	margin-left: 314px;
}

.sidebar-container {
	max-width: 100%;
	padding-right: rem(32);
	padding-left: rem(32);
}

.max-width-wrapper {
	max-width: 1130px;
	margin: auto;
}

.nav-is-open {
	overflow: hidden;
}

@mixin hide-scrollbars() {
	& {
		-ms-overflow-style: none; /* Internet Explorer 10+ */
		scrollbar-width: none; /* Firefox */

		&::-webkit-scrollbar {
			display: none; /* Safari and Chrome */
		}
	}
}

@mixin full-width() {
	position: relative;
	width: 80vw;
	left: 0;
}

@mixin heading-psuedo($color: $primary) {
	h1::before {
		content: '';
		width: 16px;
		margin-right: $text-spacer-xs;
		background-color: $color;
		border-radius: $br-xs;
	}
}

.d-flex-column {
	display: flex;
	flex-direction: column;
}

%icon-text-box {
	display: flex;
	gap: $gap;
	align-items: center;

	&::before,
	&::after {
		line-height: 0;
	}
}

.mobile-only {
	@include breakpoint-min(md) {
		display: none;
	}
}

.mobile-tablet-only {
	@include breakpoint-min(lg) {
		display: none;
	}
}

.tablet-desktop-only {
	@include breakpoint-max(md) {
		display: none;
	}
}

.desktop-only {
	@include breakpoint-max(lg) {
		display: none;
	}
}

@mixin remove-scrollbar() {
	scrollbar-width: none;
	&::-webkit-scrollbar {
		display: none;
	}
}

@mixin scrollable() {
	overflow-y: auto;
	height: 100%;
	@include remove-scrollbar();
}

.event-image {
	aspect-ratio: 1/1;
}

// browsers that do not support aspect-ratio like Explorer and Safari
@supports not (aspect-ratio: 1/1) {
	/* defined that the height of the depends on its width */
	.image-wrapper {
		position: relative;
		padding-top: 100%; // aspect-ratio 1 / 1
		/* image is absolutely positioned and it has the full width and height of its parent, with object-fit: cover for cases of uploading a different-sized image.  */
		.event-image {
			position: absolute;
			left: 0;
			top: 0;
			width: 100%;
			height: 100%;
			object-fit: cover;
		}
	}
}
