@use './../abstracts' as *;
@use './buttons' as *;
@use './../theme/colors' as *;

.dropdown {
	&-menu {
		width: 200px;
	}
	&-item {
		border-radius: 8px;
		font-size: $small;

		& + .dropdown-item {
			margin-top: rem(10);
		}
	}
}
