@use '../abstracts' as *;
@use './spacing' as *;
@use './typography' as *;
@use '../theme/input' as *;
@use '../theme/buttons' as *;
@use '../theme/colors' as *;
@use '../theme/borders' as theme;

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
select:-webkit-autofill,
select:-webkit-autofill:hover,
select:-webkit-autofill:focus {
	color: $body-color;
	-webkit-text-fill-color: $body-color;
	transition: background-color 5000s ease-in-out 0s;
}

.form-group {
	& + .form-group {
		margin-top: $text-spacer-sm;
	}
}

.form-control {
	&:disabled {
		opacity: .5;
	}
}

.form-card {
	border-radius: theme.$border-radius;
	padding: rem(12) rem(16);

	&-lg {
		.form-control {
			font-size: $h4-font-size;
		}
	}

	&,
	& .form-group {
		display: flex;
		flex-direction: column;
		align-items: center;

		.form-label {
			text-transform: initial;
			font-weight: $fw-normal;
			margin: 0px;
		}

		.form-control {
			font-weight: $fw-bold;
			padding: 0px;
			order: -1;
			text-align: center;
		}

		.form-control {
			font-family: $font-heading;
			margin: 0px;
			background-color: transparent;
			@extend .form-control--borderless !optional;
		}
	}
}

.form-floating {
	label {
		font-size: $caption;
	}
}

.error-border {
	border-color: $danger;
}

.error {
	color: $danger;
}

.form-text.error {
	font-weight: $fw-normal;
}

.form-label,
.form-label--flex {
	font-weight: $fw-medium;
	font-size: $small;
	margin-bottom: rem(12);
}

legend {
	font-weight: $fw-medium;
	font-size: $body-2;
	margin-bottom: $text-spacer-xs;
}

.form-check {
	min-height: 0px;

	&-label:not(#check-display-checkbox-label) {
		font-size: $small;
	}

	&-input:focus {
		box-shadow: none;
	}
}

textarea.form-control {
	background: $gray-300;
}

.date-picker-card {
	display: flex;
	border-radius: theme.$border-radius;
	border: theme.$border-color solid $border-width;
	display: flex;
	width: 100%;
	cursor: pointer;
	position: relative;

	&::before {
		padding-left: rem(12);
		padding-top: rem(15);
	}

	&-sm {
		&::before {
			padding-top: rem(12);
		}

		.date-picker input {
			padding-top: rem(12);
			padding-bottom: rem(12);
		}
	}

	&.day-picker-card {
		&::before {
			content: url($data-svg-prefix + map-get($icons, 'calendar'));
		}
	}

	&.time-picker-card {
		&::before {
			content: url($data-svg-prefix + map-get($icons, 'clock'));
		}
	}

	&:focus-within {
		border-color: $input-focus-border-color;
	}

	&.error-border {
		@extend .error-border !optional;
	}

	.form-label {
		margin: 0px;
		position: relative;
		padding: $input-padding-y $input-padding-x 0px;
		font-size: $caption;
		color: #6f767e;
	}
}

// search field
@mixin input-icon-box($radius: theme.$border-radius, $color: $clr-neutral-6, $bg: $white, $padding-x: $input-padding-x) {
	align-items: center;
	border-radius: $radius;
	border: $input-border-width solid $color;
	padding-left: $padding-x;
	background-color: $bg;

	&:focus-within {
		border-color: $input-focus-border-color;
	}

	.form-control {
		background-color: transparent;
		border: none;
		border-radius: 0;
		min-height: auto;
	}

	.form-control:focus {
		background-color: transparent;
	}
}

// password field
.input-wrapper {
	display: flex;
	@include input-icon-box();
	padding-right: $input-padding-x;
	padding-left: 0px;

	&.input-wrapper-error {
		@extend .error-border !optional;
	}
}
