@use '../abstracts' as *;
@use '../theme/buttons' as *;
@use '../theme/colors' as *;

.nav-pills {
	padding: rem(8);
	background-color: $gray-400;
	border-radius: 50px;
	flex-basis: calc(104px + 104px + 8px + 8px);
	flex-wrap: nowrap;

	.nav-item {
		.nav-link {
			padding: $btn-padding-y $btn-padding-x;
		}
	}
}
