@use '../abstracts' as *;
@use '../theme/colors' as *;

// Page Spacers
$spacer-md: rem(80);

// Text Spacers
$heading-spacer: rem(32); // page headings
$heading-spacer-sm: rem(28);
$gap: rem(16);
$gap-sm: rem(10);
$gap-xs: rem(4);

$text-spacer: rem(32);
$text-spacer-sm: rem(24);
$text-spacer-xs: rem(16);

.spacer-md {
	padding: $spacer-md 0px;
}

.event-form {
	padding-bottom: rem(148);
}

section + section {
	margin-top: $text-spacer;
}

%flex-between {
	display: flex;
	align-items: center;
	justify-content: space-between;
}

.row + .row {
	margin-top: rem(11);
}

.split-row {
	@extend %flex-between !optional;
	font-size: $small;
}

.heading--flex,
.section-heading--flex {
	@extend %flex-between !optional;
}

.heading--flex,
.form-label--flex {
	& > *,
	.btn {
		margin: 0px !important;
	}
}

.actions-group-flex,
.heading--flex {
	display: flex;
	align-items: center;
	gap: $gap;

	.form-floating,
	.btn-download {
		flex-basis: 240px;
		height: 64px;

		.form-select {
			height: 100%;
		}
	}

	.btn-download {
		flex-basis: 135px;
	}

	.search {
		flex: 1;
		height: 64px;
	}
}

.form-label--flex {
	display: flex;
	gap: $gap-sm;

	legend {
		width: max-content;
	}
}

.stat-row {
	display: flex;
	align-items: center;
	gap: $gap-xs;
	font-size: $caption;
	color: $text-muted;
	font-weight: $fw-semi-bold;
}

.seperator {
	padding-top: $text-spacer-sm;
	margin-top: $text-spacer-sm;
}

.list-item {
	padding: $text-spacer-xs $text-spacer-sm;
	border-radius: 8px;
	background-color: $gray-300;
}

#bank-card,
#tax-card {
	gap: rem(24);

	@include breakpoint-min(md) {
		gap: $gap-sm;
	}

	.info {
		h1 {
			margin-bottom: $text-spacer-xs;
		}
	}
}
