@use '../abstracts' as *;

// Banner Spacers
$banner-spacer-md-top: rem(100);
$banner-spacer-md-bottom: rem(110);
$banner-spacer: rem(21);

// Page Spacers
$spacer-xs: rem(32);
$spacer-sm: rem(64);
$spacer-md: rem(80);

// Text Spacers
$heading-spacer: rem(24); // page headings
$heading-spacer-sm: rem(27); // page headings
$gap: rem(14);
$gap-sm: rem(10);
$gap-xs: rem(4);

$text-spacer-lg: rem(40);
$text-spacer: rem(32);
$text-spacer-sm: rem(24);
$text-spacer-xs: rem(16);

.spacer-xs {
	padding: $spacer-xs 0px;

	@include breakpoint-min(md) {
		padding: $spacer-sm 0px;
	}
}

.spacer {
	padding: $spacer-sm 0px;

	@include breakpoint-min(md) {
		padding: $spacer-md 0px;
	}
}

.spacer-md {
	padding: $spacer-md 0px;

	@include breakpoint-min(md) {
		padding: $spacer-sm 0px;
	}
}

.spacer-lg {
	padding: $spacer-sm 0px;

	@include breakpoint-min(lg) {
		padding: $banner-spacer-md-top 0px $banner-spacer-md-bottom;
	}
}

section + section {
	margin-top: $text-spacer;
}

.row + .row {
	margin-top: rem(2);

	@include breakpoint-min(md) {
		margin-top: rem(4);
	}
}

%flex-between {
	display: flex;
	align-items: center;
	justify-content: space-between;
}

.split-row {
	@extend %flex-between !optional;
	font-size: $small;
}

.heading--flex,
.section-heading,
.section-heading-sm {
	@extend %flex-between !optional;
}

.heading--flex,
.form-label--flex {
	& > *,
	.btn {
		margin: 0px !important;
	}
}

.card-content {
	margin-top: rem(24);
}

@mixin scrollable-padding {
	padding: rem(8) 0px;
}

.scrollable-heading {
	@include scrollable-padding();
}
