@use '../abstracts' as *;
@use '../layout/spacing' as *;
@use '../layout/typography' as *;
@use '../theme/card' as *;
@use '../theme/table' as *;
@use '../theme/colors' as *;
@use '../theme/borders' as *;

.table-container {
	border-radius: $border-radius;
	padding: rem(25) rem(34);
	background-color: $white;
}

.table {
	margin-bottom: 0px;
	table-layout: fixed;

	> *,
	th {
		font-size: $small;
		white-space: nowrap;
	}

	&.table-lg {
		thead {
			th {
				min-width: 80px;
			}
		}

		th,
		td {
			padding-right: rem(32);
			padding-left: rem(32);
			@extend %text-truncate !optional;
		}

		th:first-of-type,
		td:first-of-type {
			padding-left: 0px;
		}

		th:last-of-type,
		td:last-of-type {
			padding-right: 0px;
		}
	}

	th {
		text-align: center;
		min-width: 120px;
		color: $muted;

		&:first-of-type {
			text-align: left;
		}
		&:last-of-type {
			text-align: right;
		}
	}

	th,
	td {
		@extend %text-truncate !optional;
	}

	tbody {
		border-top: none !important;
		td {
			text-align: center;
		}

		td:first-of-type {
			text-align: left;
		}

		td:last-of-type {
			text-align: right;
		}

		tr:last-of-type {
			border-bottom-width: 0px;
			border-bottom-style: none;
			border-bottom-color: transparent;
		}
	}
}
