@use '../abstracts' as *;
@use '../layout/spacing' as *;
@use '../layout/typography' as *;
@use '../theme/colors' as *;

.table {
	table-layout: fixed;
	> *,
	th {
		font-size: $small;
		font-weight: $fw-normal;
	}

	thead {
		th {
			text-align: center;
			font-weight: $fw-medium;
			min-width: 120px;
			color: $muted;
			&:first-of-type {
				text-align: left;
			}
			&:last-of-type {
				text-align: right;
			}
		}
	}

	tbody {
		border-top: border() !important;
		th,
		td {
			text-align: center;
			vertical-align: middle;
			width: inherit;
		}

		th,
		td:not(.btn-more) {
			@extend %text-truncate !optional;
		}

		th:first-of-type,
		td:first-of-type {
			text-align: left;
		}

		th:last-of-type,
		td:last-of-type {
			text-align: right;
		}
	}
}
