@use '../abstracts' as *;
@use 'spacing' as *;
@use 'images' as *;
@use 'container' as *;
@use './../theme/colors' as *;

.normal {
	font-size: $body-2;
}

.fs-md {
	font-size: $body-1;
}

.section-heading {
	@include heading-psuedo();

	h1,
	h2,
	h3,
	h4 {
		margin: 0;
		font-size: $body-1;
		display: flex;
	}

	&--secondary {
		@include heading-psuedo($success);
	}

	margin-bottom: $heading-spacer;

	&-sm {
		@extend .section-heading !optional;
		margin-bottom: $heading-spacer-sm;
	}
}

h1,
.h1 {
	font-size: $h1-font-size;
}
h2,
.h2 {
	font-size: $h2-font-size;
}
h3,
.h3 {
	font-size: $h3-font-size;
}
h4,
.h4 {
	font-size: $h4-font-size;
}

.fw-medium {
	font-weight: $fw-medium;
}

.fw-semi-bold {
	font-weight: $fw-semi-bold;
}

.small-label {
	font-size: $small;
	font-weight: $fw-medium;
}

.small-label--flex {
	margin-bottom: rem(3);
}

%text-truncate {
	white-space: nowrap;
	text-overflow: ellipsis;
	overflow: hidden;
}

%multi-line-truncate {
	display: -webkit-box;
	-webkit-box-orient: vertical;
	overflow: hidden;
	-webkit-line-clamp: 2;
	text-overflow: ellipsis;
}

@mixin multi-line-truncate($lines: 2) {
	@extend %multi-line-truncate;
	-webkit-line-clamp: $lines;
}

.nav-link {
	font-family: $font-heading;
}

%nav-mobile-headings {
	@include breakpoint-max(lg) {
		display: block;
		margin-bottom: $text-spacer-xs;
		font-size: $caption;
		color: $text-muted;
		text-transform: uppercase;
		font-weight: $fw-bold;
		font-family: $font-body;
	}
}

.details {
	.card-title,
	.event-name,
	.card-subtitle,
	.subtitle,
	.event-detail,
	.row > .col > * {
		@extend %text-truncate !optional;
	}
	.card-title,
	.event-name {
		font-size: $body-1;
		margin-bottom: rem(13);
		font-weight: $fw-semi-bold;
	}
}

.tickets-sold {
	&:before {
		@extend %img-psuedo-icon !optional;
		background-image: url('../../assets/icons/ticket.svg');
		background-color: rgba($primary, var(--opac));
	}
}

// bulleted for dashboard
.time,
.loc,
.venue {
	&::before {
		content: '\2022';
		position: relative;
		margin: 0px rem(3);
		left: em(-2);
	}
}

.num-tickets {
	font-size: $caption;
	font-weight: $fw-semi-bold;
	@extend %icon-text-box !optional;
	gap: $gap-sm;
	&::before {
		content: url($data-svg-prefix + map-get($icons, 'ticketOutline'));
	}
}

.list {
	padding-left: 0px;
	padding-right: 0px;
	.heading {
		font-weight: $fw-medium;
		margin-bottom: rem(10);
	}

	& + .list:not(.list.list-group-item) {
		margin-top: rem(20);
		border-top: border();
		padding-top: $text-spacer-sm;
	}
}
