@use '../abstracts' as *;
@use 'spacing' as *;
@use 'images' as *;
@use 'container' as *;
@use './../theme/colors' as *;
@use './../theme/table' as *;

.normal {
	font-size: $body-2;
}

.fs-md {
	font-size: $body-1;
}

.section-header {
	margin-bottom: $heading-spacer;

	&-sm {
		margin-bottom: $heading-spacer-sm;
	}

	&-desc {
		color: $text-muted;
		font-weight: $fw-medium;
		padding-left: calc(rem(16) + rem(16));
	}
}

.section-heading {
	@include heading-psuedo();

	h1,
	h2,
	h3,
	h4 {
		margin: 0;
		font-size: $body-1;
		display: flex;
	}

	&--secondary {
		@include heading-psuedo($success);
	}
}

h1,
.h1 {
	font-size: $h1-font-size;
}
h2,
.h2 {
	font-size: $h2-font-size;
}
h3,
.h3 {
	font-size: $h3-font-size;
}
h4,
.h4 {
	font-size: $h4-font-size;
}

.fw-medium {
	font-weight: $fw-medium;
}

.fw-semi-bold {
	font-weight: $fw-semi-bold;
}

.small-label {
	font-size: $small;
	font-weight: $fw-medium;
}

.small-label--flex {
	margin-bottom: rem(4);
}

.text-upper {
	text-transform: uppercase;
	font-weight: $fw-bold;
	font-family: $font-body;
	font-size: $body-2;
}

.caption {
	font-size: $caption;
}

%text-truncate {
	white-space: nowrap;
	text-overflow: ellipsis;
	overflow: hidden;
}

%multi-line-truncate {
	display: -webkit-box;
	-webkit-box-orient: vertical;
	overflow: hidden;
	-webkit-line-clamp: 2;
	text-overflow: ellipsis;
}

@mixin multi-line-truncate($lines: 2) {
	@extend %multi-line-truncate;
	-webkit-line-clamp: $lines;
}

.nav-link,
.card .nav-link {
	font-family: $font-heading;
}

%nav-mobile-headings {
	@include breakpoint-max(lg) {
		display: block;
		margin-bottom: $text-spacer-xs;
		font-size: $caption;
		color: $text-muted;
		text-transform: uppercase;
		font-weight: $fw-bold;
		font-family: $font-body;
	}
}

.tickets-sold {
	&:before {
		display: inline-block;
		@extend %img-psuedo-icon !optional;
		background-image: url('../../assets/icons/ticket.svg');
		background-color: rgba($primary, var(--opac));
	}
}

// bulleted for dashboard and preview modal
.time,
.loc,
.venue {
	&::before {
		content: '\2022';
		position: relative;
		margin: 0px rem(3);
		left: em(-2);
	}
}

.list {
	padding-left: 0px;
	padding-right: 0px;

	.heading {
		font-weight: $fw-medium;
		margin-bottom: rem(10);
	}

	& + .list:not(.list.list-group-item) {
		margin-top: $text-spacer-sm;
	}

	&-with-seperator {
		& + .list-with-seperator:not(.list.list-group-item) {
			border-top: border();
			padding-top: $text-spacer-sm;
		}
	}
}

.horizontal-list {
	li {
		color: $text-muted;

		+ li {
			margin-left: $text-spacer-xs;
		}

		span {
			margin-left: rem(8);
			color: $body-color;
			font-weight: $fw-semi-bold;
		}
	}
}

.list-table {
	font-size: $small;
	position: relative;

	.btn-more-col {
		position: absolute;
		right: 0;
	}

	.flex-row {
		display: flex;
		flex-wrap: wrap;
		align-items: center;

		& + .flex-row {
			border-top: border();
		}
	}

	&-col {
		padding: rem(8);
		// &:last-of-type {
		// 	text-align: right;
		// }

		&.lg {
			flex: 1;

			&-2 {
				flex: 2;
			}
		}

		&-header {
			font-weight: $table-th-font-weight;
			color: $text-muted;
		}
	}

	&.five-col {
		.list-table-col:not(.btn-more-col) {
			width: calc(100% / 8);
		}
	}

	&.four-col {
		.list-table-col:not(.btn-more-col) {
			width: calc(100% / 5);
		}
	}
}

.total-row {
	font-weight: $fw-medium;
	font-size: $body-2;
}

#bank-card,
#tax-card {
	h1 {
		font-size: rem(20);
		font-weight: $fw-bold;
	}
	line-height: 24px;
}
