@use '../../scss/abstracts' as *;

.ticket-card {
	box-shadow: $box-shadow;

	.card-header {
		border-bottom: none;
	}
	.card-img-top {
		@include breakpoint-max(md) {
			height: 252px;
		}
	}

	.details {
		.card-title {
			font-size: $body-1;
		}
	}
}
