@use '../../scss/abstracts' as *;
@use '../../scss/layout' as *;

.ticket-card {
	box-shadow: $box-shadow;

	.event-image-lg {
		width: 217px;
		height: 217px;
	}

	.details {
		.card-title {
			font-size: $body-2;
			margin-bottom: rem(3);
			@extend %text-truncate;
		}

		.event-details {
			font-size: $caption;
			@extend %text-truncate;
			margin-bottom: rem(8);
		}
	}

	#apple-wallet-btn {
		border: none;
		border-radius: 6px;
		@extend %btn-background;
		background-image: url('../../assets/icons/add-to-apple-wallet-logo.svg');
		padding: rem(28);
	}
}
