@use '../../../../scss/abstracts' as *;
@use '../../../../scss/layout' as *;

#total-card {
	@include breakpoint-max(md) {
		margin-top: auto;
	}
}
.card.card--popup {
	@include breakpoint-max(md) {
		@include full-width();
		box-shadow: $box-shadow-card;

		.card-body {
			display: none;
		}

		&-expanded {
			transition-property: height;
			transition-duration: .5s;
			transition-timing-function: cubic-bezier(0, 1, 0.5, 1);

			position: absolute;
			max-height: 100%;
			top: 17%;
			// top: 5%;
			bottom: 0;

			.card-body {
				display: block;
			}
		}
	}

	.card-header {
		&-price {
			@extend %icon-text-box;
		}

		.btn--icon-sm {
			svg {
				transform: rotate(0deg);
			}
		}
	}

	&-expanded .card-header .btn--icon-sm svg {
		transform: rotate(180deg);
	}

	.list + .list {
		margin-top: rem(15);

		@include breakpoint-min(md) {
			margin-top: rem(28);
		}
	}

	.heading {
		font-weight: $fw-medium;
		margin-bottom: rem(7);
		font-size: rem(16);
	}
	ul {
		li {
			font-size: $small;

			li + li {
				margin-top: rem(6);
			}
			.col {
				white-space: nowrap;
			}
		}
	}

	.card-footer {
		border-width: 0px;

		> * {
			flex: 1;
		}

		&.with-border {
			border-width: 1px;
		}
	}
}
