@use '../../../scss/abstracts' as *;
@use '../../../scss/layout' as *;

#venue {
	.event-title {
		@extend %text-truncate;
		font-size: rem(16);
		margin-bottom: rem(6);
		font-weight: $fw-medium;

		@include breakpoint-max(md) {
			width: 98%;
		}
	}

	.event-image {
		width: 120px;
		height: 120px;
	}

	ul {
		.item {
			& + .item {
				margin-top: rem(32);
			}

			.icon-button {
				@include breakpoint-min(lg) {
					margin-left: auto;
				}
			}
		}
	}
}
