@use './../../../scss/abstracts' as *;
@use './../../../scss/layout' as *;
@use './../../../scss/theme/colors' as *;

.search-item {
	padding: rem(8) rem(24);

	&:hover,
	&:focus {
		@extend %hover-effect;
	}

	.details-info {
		flex: 1;
		min-width: 0;

		&-event-name {
			color: $body-color;
			font-weight: $fw-medium;
		}
		p {
			@extend %text-truncate;
		}
	}
}
