@use '../../scss/abstracts' as *;
@use '../../scss/theme/card' as *;

.team {
	&-members-container {
		align-items: center;
		justify-content: center;

		@include breakpoint-max(lg) {
			flex-wrap: wrap;
		}

		.member-card {
			flex-basis: 256px;
		}
	}
}
