@use '../../../scss/abstracts' as *;

#venue {
	.card {
		@include breakpoint-min(md) {
			margin-top: -155px;
		}

		&-body {
			display: flex;
			flex-direction: column;
			justify-content: center;
			align-items: center;

			.card-img {
				background-color: $clr-neutral-2;
				order: -3;
				width: 36%;
				margin-bottom: rem(16);

				@include breakpoint-min(md) {
					width: 70%;
				}
			}

			.card-title {
				font-weight: $fw-semi-bold;
				order: -2;
			}

			.card-text {
				order: -1;
				margin-bottom: rem(16);
			}
		}
	}
}
