@use '../../../scss/abstracts' as *;
@use '../../../scss/theme/colors' as *;
@use '../../../scss/theme/modal' as *;

#ticket-modal {
	.modal-header {
		align-items: flex-start;
		padding-top: $modal-inner-padding;
		padding-bottom: $modal-inner-padding;
	}

	.modal-title {
		font-size: $body-1;
	}

	.ticket-code {
		display: block;
		color: $muted;
	}
}
