@use '../../../scss/abstracts' as *;
@use '../../../scss/layout' as *;
@use '../../../scss/theme/colors' as *;
@use '../../../scss/theme/buttons' as *;

#ticket-modal {
	@extend .modal-lg;

	.btn-group-flex {
		margin-top: auto;

		@include breakpoint-min(md) {
			margin-top: $text-spacer-sm;
		}
	}

	.split-row {
		font-size: $body-2;
	}
}

.action-btns.btn-group-flex {
	@include breakpoint-min(md) {
		.btn {
			flex: 0 0 171px !important;
		}
	}
}
