@use '../../../scss/abstracts' as *;
@use '../../../scss/layout/spacing' as *;
@use '../../../scss/theme/colors' as *;

.tickets {
	border-bottom: border();
}

.ticket-row {
	font-weight: $fw-medium;

	.vstack {
		justify-content: center;

		&:first-of-type {
			flex-basis: 476px;

			.ticket-name {
				width: 40ch;
			}
		}
		&:not(:first-of-type) {
			flex-basis: rem(219);
			align-items: center;
		}

		& + .vstack {
			border-left: border($color: $gray-200);
		}
	}
}
