@use '../abstracts' as *;
@use 'spacing' as *;
@use 'typography' as *;
@use 'container' as *;
@use '../theme/card' as *;
@use '../theme/colors' as *;

.card {
	&-body {
		@extend .d-flex-column !optional;
		gap: $gap-sm;

		> * {
			flex: 1;
			margin: 0px;
		}
	}
	&-title {
		font-size: $body-1;
		font-weight: $fw-semi-bold;
		color: $body-color;
	}

	&-subtitle {
		margin-top: 0px;
		font-size: $body-2;
		color: $muted;
	}

	&-sm {
		box-shadow: $box-shadow;

		.card-body {
			padding: em(16);
		}
	}

	// cta card
	&--dark {
		background-color: $gray-100;
		border: none;

		.card-body {
			@include breakpoint-min(md) {
				padding: rem(60);
			}
		}

		.card-title {
			color: $clr-white;
			font-size: rem(32);
			line-height: 1.2;
			font-family: $font-heading;

			@include breakpoint-min(md) {
				line-height: 1.7;
			}
		}

		.card-subtitle {
			color: $gray-200;
			font-weight: $fw-medium;
		}
	}
}
