@use '../../../../scss/layout' as *;

#nft-media {
	position: relative;

	.btn {
		margin: 0px;
		@extend %btn-background;
		position: absolute;
		right: -10px;
		top: -9px;
		z-index: 999;
		background-image: url('../../../../assets/icons/close-white.svg');
	}
}
