@use './../../scss/abstracts' as *;
@use './../../scss/layout' as *;

.card {
	width: rem(256);
	.card {
		&-img-top {
			height: rem(303);
			background-color: $clr-neutral-6;
			border-radius: $br-textile;
		}

		&-body {
			display: flex;
			flex-direction: column;
			padding-left: 0px;
			padding-right: 0px;
		}

		&-text {
			font-size: $caption;
		}

		&-title {
			font-family: $font-body;
			font-size: $body-2;
			font-weight: $fw-medium;
			@extend %text-truncate;
		}

		&-subtitle {
			@extend %text-truncate;
			margin-top: initial;
			font-size: $small;
		}
	}
	.row + .row {
		margin-top: $card-body-spacer;
	}

	.caption {
		@extend %text-truncate;
	}
}
