@use '../../scss/abstracts' as *;

.navigation {
	.navbar {
		border-bottom: 1px solid $clr-neutral-6;

		@include breakpoint(medium) {
			&.navbar-expand-md .navbar-nav .nav-link {
				padding-left: rem(36);
			}
		}
		.nav-link {
			border-left: 2px solid $clr-neutral-6;
			padding-left: rem(24);
		}
		.btn {
			margin-top: 0px;
			min-width: 102px;
		}

		&-light-toggler {
			border-radius: 0px;
		}
	}
}
