@use '../../scss/abstracts' as *;
@use '../../scss/layout' as *;
@use '../../scss/theme/buttons' as *;

.navigation {
	&.position-sticky {
		top: 0;
		z-index: 999;
	}

	&::after {
		@include full-width-border();
		top: $navbar-height-sm;

		@include breakpoint-min(lg) {
			top: $navbar-height;
		}
	}

	.container {
		position: relative;
	}

	.desktop-btns {
		@include breakpoint-min(lg) {
			order: 4;
		}
	}

	.navbar {
		background-color: $clr-white;

		@include breakpoint-min(lg) {
			padding-top: rem(21);
			padding-bottom: rem(21);
		}

		&-brand {
			padding-top: rem(3);

			@include breakpoint-min(lg) {
				padding-right: rem(13);
			}

			@include breakpoint-min(xl) {
				// padding-right: rem(47);
				// margin-right: $text-spacer-sm;
			}
		}

		&-toggler {
			margin-right: 0px !important;
		}

		&-collapse {
			z-index: 999;

			@include breakpoint-max(lg) {
				padding: 0px $nav-link-padding-x;
				margin: $nav-link-margin;
			}
		}

		&-nav {
			padding-top: em(73);
			padding-bottom: em(60);

			@include breakpoint-max(lg) {
				min-height: -webkit-fill-available;
				height: calc(100vh - 88px);
			}

			ul {
				li + li {
					padding-top: rem(8);
					@include breakpoint-min(lg) {
						padding-top: 0px;
						padding-left: $text-spacer;
					}
				}

				&::before {
					@extend %nav-mobile-headings;
				}
				& + ul {
					margin-top: rem(16);
					@media screen and (min-device-height: 812px) {
						margin-top: rem(48);
					}

					&:nth-of-type(2) {
						&::before {
							@include breakpoint-max(lg) {
								content: 'My Wallet';
							}
						}
					}
				}
			}
			#main {
				@include breakpoint-min(lg) {
					border-left: border(2px);
					padding-left: rem(13);
				}

				@include breakpoint-min(xl) {
					padding-left: $text-spacer-sm;
				}

				&::before {
					@include breakpoint-max(lg) {
						content: 'Home';
					}
				}

				.nav-link {
					@include breakpoint-max(lg) {
						font-size: $body-2;
						padding: $nav-link-padding-y $nav-link-padding-x;
						margin: $nav-link-margin;

						&:hover,
						&:focus,
						&.active {
							@include hover-effect();
						}
					}
				}
			}
		}
	}

	.search {
		width: 452px;
	}

	.search-container,
	#search-mobile {
		margin-right: rem(6);

		@include breakpoint-min(lg) {
			margin-right: rem(20);
		}
	}

	.btn {
		margin-top: 0px;
		&-secondary,
		&-outline-light {
			min-width: 102px;
			padding: rem(11) $btn-padding-x;
		}
	}

	&.home-nav {
		position: fixed;
		top: 0;
		right: 0;
		left: 0;
		z-index: 999;

		&::after {
			display: none;
		}

		.navbar {
			background-color: transparent;

			&-toggler-icon {
				filter: brightness(0) saturate(100%) invert(100%) sepia(0%) saturate(0%) hue-rotate(215deg)
					brightness(108%) contrast(104%);
			}
		}

		&.nav-scrolled {
			.navbar {
				background-color: #FFFF;
				color: #0000;

				&-toggler-icon {
					filter: none;
				}
			}
		}
	}
}
