@use '../../../../scss/abstracts' as *;

.seat-confirmation {
	.num-tickets {
		border-top: border();
		border-bottom: border();
		padding: em(23) 0px;
	}

	.ticket-details {
		h1 {
			margin-bottom: rem(6);
		}
		height: 161px;
		padding-bottom: em(10);
		border-bottom: border();
	}

	.disclaimer {
		padding: em(13) 0px;
	}

	.footer {
		padding-top: em(23);
	}
}
